{% extends "base.html" %}

{% block content %}
    {% with message = get_flashed_messages() %}
    {% if message %}
    <h1>{{ message[0] }}</h1>
    {% else %}
    <div class="wrapper">
        <div class="content">
            <div class="left">
                <p>
                    <h1>Procesy:</h1>
                    <ul>
                        {% if user.processes %}
                        {% for process in user.processes %}
                        <li>{{ process }}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </p>
            </div>
            <div class="right">
                <p>
                    <h1>Strony:</h1>
                    <ul>
                        {% if user.sites %}
                        {% for site in user.sites %}
                        <li>{{ site }}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </p>
            </div>
        </div>
        <div class="images">
            <h1>Zdjęcia ekranu:</h1>
            {% for image in user.ss_names %}
            <img class="screenshot" src="{{ url_for('static', filename='FILES/' + user.username + '/' + image) }}"/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
{% endblock %}