{% extends "base.html" %}

{% block content %}
    {% with message = get_flashed_messages() %}
    {% if message %}
    <h1>{{ message[0] }}</h1>
    {% else %}
    <div class="content">
        <div class="left">
            testowe lewo
        </div>
        <div class="right">
            testowe prawo
        </div>
    </div>
    <div class="images">
        {% for image in user_files.ss_names %}
        <img class="screenshot" src="{{ url_for('static', filename='FILES/' + user_files.username + '/' + image) }}"/>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
{% endblock %}